body {
    background: rgb(146, 80, 80);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.assignments {
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 30%;
    padding: 10px;
    margin: 10px;
    padding: 20px 10;
    background: rgb(174, 152, 116);
    border-radius: 20px;
}

.assignment img {
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid rgb(65, 47, 49);
    display: block;
    margin: auto;

}

.assignment img:hover {
    border: 3px dashed rgb(220, 213, 213);
}

h1 {
    color: rgb(69, 69, 69);
    text-align: center;
}

h2 {
    text-align: center;
}

h1:hover {
    color: rgb(220, 213, 213);
}

A {
    text-decoration: none;
    color: rgb(65, 47, 49);
}

a:hover {
    color: rgb(220, 213, 213);
}